@model HRMTWeb.Models.CustomerInfo

@{
    ViewBag.Title = "会员中心";
}
<div data-role="page" id="pgMemberView">
<table data-role="table" class="ui-responsive" style="font-size:small">
    <thead>
        <tr>
            <th>客户代码</th>
            <th>客户名称</th>
            <th>业务员</th>
            <th>业务员联系方式</th>
            <th>公司收款账号</th>
            <th>当前欠款</th>
            <th>未发货金额</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.HiddenFor(model => model.CustomerID, new { @id = "hidCustomerID" })
            @Html.DisplayFor(model => model.CustomerCode)</td>
            <td>@Html.DisplayFor(model => model.CustomerName)</td>
            <td>@Html.DisplayFor(model => model.ContactPerson)</td>
            <td>@Html.DisplayFor(model => model.ContactTel)</td>
            <td>@Html.DisplayFor(model => model.CustomerAccountNo)</td>
            <td>@Html.DisplayFor(model => model.UnPayAmount)</td>
            <td>@Html.DisplayFor(model => model.UnfilledOrderAmount)</td>
        </tr>
    </tbody>
</table>
    <div class="alert alert-warning" role="alert">
        <p id="retMsg">@ViewData["RetMessage"]</p>
    </div>
    <div class="button_line">
        <a href="#popChangePwd" data-rel="popup" data-position-to="window" data-transition="fade" class="ui-btn ui-corner-all ui-shadow ui-btn-inline">修改密码</a>
    </div>
    <div data-role="popup" id="popChangePwd" data-overlay-theme="b">
        <div data-role="header">
            <h1>修改密码</h1>
        </div>
        <div data-role="main" class="ui-content">
            <div class="form-bottom">
                <div class="form-group">
                    <label class="sr-only" for="form-oldPassword">原密码</label>
                    <input type="password" name="form-oldPassword" placeholder="原密码..." class="form-password form-control" id="form-oldPassword">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-newPassword">新密码</label>
                    <input type="password" name="form-newPassword" placeholder="新密码..." class="form-password form-control" id="form-newPassword">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="form-configNewPassword">确认新密码</label>
                    <input type="password" name="form-configNewPassword" placeholder="确认新密码..." class="form-password form-control" id="form-configNewPassword">
                </div>
            </div>
        </div>
        <div data-role="footer" class="button_line">
            <a href="javascript:closePop()" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-left">修改</a>
            <a href="#" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-btn-a ui-icon-back ui-btn-icon-left" data-rel="back">返回</a>
        </div>
    </div>
@{
    Html.RenderPartial("_LayoutFooter");
}
    <script>
        $(function () {

        });
        function closePop() {
            $("#popChangePwd").popup('close');
        }

    </script>
</div>
